.row{
    width: 50%;
    background-color: blueviolet;
    border: 1px solid black;
    height: 400px;
    margin-top: 150px;
    position: relative;
}

.col{
    width: 20%;
    height: 150px;
    background-color: brown;
    border: 1px solid black;
}

/* psudo  element */

.col:nth-child(1){
    background-color: olive;
    position: absolute;
    /* left: 100%; */
    top: 0;
}

.col:nth-child(2){
    background-color: yellow;
    /* position: relative; */
    /* left: 200px;
    left: 800px;
    top: 100px;
    left: 50%;
    left: 100%;
     */
     /* margin-left: 200px;
     left: 100%; */
     position: absolute;
     /* left: 22%; */
     top: 0;
     right: 0;
     
}

.fixed{
    position: fixed;
    top: 100px;
    /* right: 0; */
}

.sticky{
    border: 1px solid black;
    position: sticky;
    top: 30px;
}